
.document_icon {
    width: 32px;
    height: 32px;
    border: none;
}

#doifd_admin_header {
    width: 100%;
    text-align: left;
}

#doifd_admin_header p {
    font-size: 1.2em;
}

.doifd_admin_paypal {
    width: 355px;
    margin: -260px 25px 10px 0;
    float: right;
    padding: 5px;
    text-align: center;
    line-height: 3em;
    border: #333333 thin solid;
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;   
}

#doifd_admin_header hr {
    clear: both;
}

.coffee {
    float: left;
}

.paypal_form {
    margin-left: 150px;
}

.paypal_form_inner {
    margin: 35px 35px 0 0;
}

#doifd_lab_admin_options {
    padding-bottom: -10px;
}

.doifd_admin_widget_table {
    width: 100%;
    border-collapse: collapse;
}

.doifd_admin_widget_th {
    text-align: center;
    font-size: 1.2em;
    color: #0066cc;
    border-bottom: #999 thin inset;
    line-height: 3em;
    width: 50%;
}

.doifd_admin_widget_td {
    text-align: center;
    font-size: 1em;
    padding: 5px 0;
}

.hide {
    display: none;
}

/* Mailchimp Ad */

.mc_ad {
    width: 600px;
    margin-left: 160px;
    margin-bottom: 25px;
    border: 1px;
    padding: 25px;
    line-height: 2.5em;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
    -moz-box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
    box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
    
}

.mc_ad_img {
    float: left;
}

.mc_ad_text {
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
}

.no_landing {
    text-align: center;
    background: #00ffff;
    color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;   
    
}

