.thankyou {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.freedownload {
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.exceeded {
    color: red!important;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}